<footer class='app-footer'>
  <p class='app-footer-left'>&copy; <%= Time.now.year %></p>
  <%= link_to image_tag('forset.svg', class: 'app-footer-right'),
              'http://forset.ge',
              target: '_blank',
              title: t('shared.common.developer.slogan') %>
</footer>
